<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coldcall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10D714C1EC3B59900F930DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10D71601EC3B59A00F930DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10D716B1EC3B59A00F930DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
